body {
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  line-height: 2;
  text-align: center;
  font-size: 1.5rem;
}

p {
  text-align: justify;
  text-justify: inter-word;
  line-height: 2;
}

/* Nav Bar */
.navbar-brand {
  font-family: 'Lato-Black', sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
  padding-left: 5%;
}

.nav-item {
  padding: 0 1.1rem;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Lato-Black', sans-serif;
}

/* Carousel */
.carousel {
  width: 100%;
}

.carousel-inner img {
  width: 100%;
}

/* Links */
#links {
  text-align: center;
  padding: 7% 25%;
}

.fas {
  font-size: 3rem;
  padding-bottom: 5%;
  color: #f0ad4e;
}

.fas:hover {
  color: #868e96;
}

/* Footer */
.footer-buttons {
  text-align: center;
  padding: 2% 5%;
}

.footer-p {
  text-align: center;
  margin: 0;
  padding: 1%;
}
